<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>URL</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>
    <div class="form">
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" name="submit">
    </form>

    <br />
    <br />
    <br />
    <br />
    <table>
        <tr>
            <th>Url</th>
            <th>Slug</th>
        </tr>
        {% for d in data %}
            <tr>
                <td>{{ d.url }}</td>
                <td><a href="/u/{{ d.slug }}">{{ d.slug }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>
